
:root {@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*========= Variables=======*/
    --header-height: 4.3rem;

    /* ======== Colors ========*/
    /* change favourite color */
    --hue-color: 216; /* purple 250 - Green 142 - blue 230 - Pink 340 -light blue 216*/
    /*HSL color mode*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color:hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color:hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%);
    --container-color:#ffffff;
    --scroll-bar-color:hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color:hsl(var(--hue-color), 12%, 80%);
            

    --body-font:'Poppins', sans-serif;
    /*== Font Size ==*/    
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*== Font Weight ==*/
    --font-small:400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Margins Bottoms*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*== Z index ==*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 1000;
}
/*======== Font for large Devices===========*/
@media screen and (min-width: 968px) {
    :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}
/* ================= Variable  Dark theme===================*/

body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color:hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color:hsl(var(--hue-color), 29%, 16%);
    --body-color:hsl(var(--hue-color), 28%, 12%);
    --container-color: hls(var(--hue-color), 29%, 16%);
    --scroll-bar-color:hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color:hsl(var(--hue-color), 12%, 36%);
}

/* ================= Button Dark/Light===================*/
      

/*========== BASE ===========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;        
}

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    background-color: rgb(247, 247, 247);
    color: var(--text-color);
    margin: 0 0 var(--header-height) 0;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* General Styles */
.module-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax value to set column width */
    gap: 15px; /* Space between grid items */
}

/* Ensure module-item fits well within grid cells */
.module-item {
    background-color: rgb(255, 252, 252);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

/* Other General Styles */
.username {
    margin-left: 30px;
}

.contain {
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    background-color: rgb(255, 252, 252);
     background: linear-gradient(180deg, rgba(64,173,236,0.86) 0%, rgba(222,227,251,0.86) 68,54%);
  background-blend-mode: normal;
    max-height: 270px;
    
}

.contain__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.image {
    width: 100px;
    height: 120px;
}

.contain__info {
    margin-left: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
    
}
.contain__info h4 {
    margin: 0; /* Ensure no extra margin around the heading */
    color: hsl(0, 0%, 21%); /* Adjust the title color */
    font-weight: 450; /* Semi-bold font weight */
}
.header {
    display: flex;
    justify-content: space-between; /* Ensures space between left and right elements */
    align-items: center; /* Vertically centers the items */
}

.header h4 {
    margin-left: 5px; /* Small gap between graduation icon and text */
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 9px;
}

.header i:first-child {
    margin-right: 0; /* Remove any gap between the icon and the text */
}

.header i:last-child {
    margin-left: auto; /* Push the ellipsis icon to the far right */
    font-size: 1.1rem; /* Adjust as needed for icon size */
}


.hidden {
    display: none;
}

.dropdown-item h6{
    margin: 0; /* Ensure no extra margin around the heading */
    color: hsl(0, 0%, 23%); /* Adjust the title color */
    font-weight: 500;
}
.dropdown h6{
    margin: 0; /* Ensure no extra margin around the heading */
    color: hsl(0, 0%, 67%); /* Adjust the title color */
    font-weight: 600;

}

.dropdown-content {
    
    position: absolute;
    color: #007bff;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 100%;
    right: 0;
    margin-top: 5px; /* 5px gap below the icon */
    width: max-content; /* Adjust width as needed */
}

.open-dropdown {
    color: #007bff; /* Example color change */
}


.info-section {
    margin-bottom: var(--mb-1);
}

.info-title {
    font: var(--body-font);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-5);
    color: hsl(0, 0%, 40%);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--h3-font-size);
}

.info-details {
    display: none;
    background-color: var(--container-color);
    padding: var(--mb-1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-section.active .info-details {
    display: block;
}

.info-details p {
    margin: var(--mb-0-5) 0;
    color: var(--text-color);
}
.info-details h6 {
    margin: 0;
    color:  hsl(0, 0%, 23%);
    font-weight: 500;
}

.info-details a {
    color: var(--first-color);
    text-decoration: none;
}

.info-details a:hover {
    text-decoration: underline;
}

.info-title::after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: var(--mb-0-5);
    transition: transform 0.3s ease;
}

.info-section.active .info-title::after {
    transform: rotate(180deg);
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the far right */
    margin-top: 20px; /* Optional: add space above the button */
}

.button-container a {
    text-align: right;
}







/* Media Queries */
@media (max-width: 491px) {
    /* Styles for small devices */
    .contain {
        margin-left: 2%;
        padding: 10px;
        max-width: 430px;
    }
    .contain__info h4 {
    
        font-size: 1.35rem; 
    }
    .dropdown-item h6{
        font-size: 1rem;
    }
    .dropdown h6{
        font-size: 1.6rem;
        margin-top: 25%;
        margin-left: 30%;
    }
    
/*
    .header h4 {
        font-size: 1.2rem;  Adjust size if needed 
    }*/

    /*.header i {
        font-size: 1.0rem;  Adjust icon size if needed 
        margin-left: 30px;  Maintain space between h4 and i 
    }*/
    .header {
        display: flex;
        justify-content: space-between; /* Space between elements */
        align-items: center; /* Vertically center the items */
    }

    .header i:first-child {
        font-size: 1.5rem; /* Adjust icon size for small screens */
        margin-right: 0; /* Remove space between icon and module name */
    }

    .header h4 {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
        margin-left: 10px; /* Minimal space between icon and text */
        font-weight: 600;
    }

    .header i:last-child {
        font-size: 1rem; /* Adjust ellipsis icon size for smaller screens */
        margin-left: auto; /* Ensure the icon stays on the far right */
    }
    
    .username {
        margin-left: 10px;
    }
    
    .module-container {
        grid-template-columns: 1fr; /* Single column layout on very small screens */
    }
    
    
    .links-container {
        display: flex; /* Use flexbox to align children in a row */
        gap: 15px; /* Add a 5px gap between links */
        flex-wrap: wrap;
    }

    .links-container a {
       
        text-decoration: none; /* Remove underline from links */
        color: hsl(0, 0%, 18%); /* Set link color */
        padding: 5px; /* Add padding for better click area */
        border: 2px solid rgb(55, 11, 248); /* Light border color */
        border-radius: 50px; /* Rounded corners */
        background-color: hsl(0, 0%, 95%); /* Optional: background color */
        display: inline-block; /* Ensure links are treated as block elements */
      
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
        padding-left: 5px; /* Add space from the left border */
        padding-right: 5px; /* Smooth transitions */
    }

    .links-container a:hover {
        background-color: hsl(0, 0%, 90%); /* Change background color on hover */
        border-color: hsl(0, 0%, 60%); /* Darken border color on hover */
    }
    .info-title {
        font-size: 1.2rem; /* Adjust title size for small screens */
    }
    
    .info-details {
        padding: 10px; /* Adjust padding */
    }
    .button-container {
        padding-right: 10px; /* Optional: add extra padding for small screens */
    }

    
}


@media (min-width: 492px) {
    /* Styles for larger devices */
    .contain {
        margin-left: 1%;
        max-width: 450px;
    }
    
    .username {
        margin-left: 30px;
    }
    .dropdown-item h6{
        font-size: 1.2rem;
    }
    .dropdown h6{
        font-size: 1.6rem;
        margin-top: 25%;
        margin-left: 300px;
        display: none;
    }
    .header {
        justify-content: space-between;
    }

    /*.header h4 {
        font-size: 1.5rem;  Adjust size if needed 
    }*/

    /*.header i {
        font-size: 1.1rem;  Adjust icon size if needed 
        margin-left: 30px;  Maintain space between h4 and i 
    }
    */

    .header {
        display: flex;
        justify-content: space-between; /* Space between elements */
        align-items: center; /* Vertically center the items */
    }

    .header i:first-child {
        font-size: 1.5rem; /* Larger icon size for larger screens */
        margin-right: 0; /* Ensure no gap between the icon and module name */
    }

    .header h4 {
        font-size: 1.5rem; /* Larger font size for bigger screens */
        margin-left: 10px; /* Keep a minimal gap between icon and text */
        font-weight: 600;
        
    }

    .header i:last-child {
        font-size: 1.2rem; /* Slightly larger ellipsis icon for larger screens */
        margin-left: auto; /* Ensure the icon stays on the far right */
    }
    .module-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Two columns or more depending on screen width */
    }
    
    
    .links-container {
        display: none; /* Hide the links container */
    }
    .info-title {
        font-size: 1.5rem; /* Default font size */
    }

    .info-details {
        padding: 15px; /* Default padding */
    }
    .info-details h6 {
        font-size: 1.1rem;
    }
}

