{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <style>
        /* Styling for the scrollable container */
.scrollable-container {
    max-width: 700px; /* You can adjust the width as needed */
    margin: 0 auto;
}

/* Styling for the scrollable list of modules */
.scrollable-list {
    max-height: 800px;  /* Set the max height for the scrollable container */
    overflow-y: auto;   /* Make the list scrollable */
    border: 1px solid #ddd;  /* Optional, for a border around the list */
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9; /* Optional, to make it visually distinct */
}

/* Styling for each clickable module */
.clickable-div {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.clickable-div:hover {
    background-color: #e0e0e0;
}

    </style>

    <div class="scrollable-container">
                        <form method="POST" id="moduleForm">
                            {{ form.hidden_tag() }}
                            <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
                            <input type="hidden" id="module_id" name="module_id" value="">

                            <!-- Scrollable List -->
                            <div class="scrollable-list">
                                {% for module in all_modules %}
                                    <div class="clickable-div" onclick="submitModule('{{ module.id }}')">
                                        <h4>{{ module.Module }}</h4>
                                        <i class="h4">Students: {{ module.Students }}</i>
                                        <hr>
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>    


         
 
    <script>
        function submitModule(moduleId) {
            document.getElementById('module_id').value = moduleId;
            document.getElementById('moduleForm').submit();
        }

        function goBack() {
            window.history.back();
        }
    </script>
     <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>
