<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Student Card</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="custom-bg" style="background-color:  rgb(221, 221, 221);">
    
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- Left Side: Video -->
                            <div class="col-lg-6 d-none d-lg-block" style="position: relative; overflow: hidden;">
                                <video autoplay muted loop class="w-100 h-100" style="object-fit: cover;">
                                    <source src="static/videos/test.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>

                                <!-- Overlay layer with blur and transparency -->
                                <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(5px);"></div>
                            </div>

                            <!-- Right Side: Login Form -->
                            <div class="col-lg-6">
                                <div class="login-content p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hello, Create An Account!</h1>
                                    </div>
                                    <form method="POST" action="#" enctype="multipart/form-data">    
                                </br>
                                        <!--Username-->
                                        {{ form.hidden_tag()}}
                                        {{ form.username.label(class="form-label") }}
                                        {{ form.username(class="form-control")|trim}}
                                        
                                        <br>
                                        <!--Title-->
                                        {{ form.title.label(class="form-label") }}
                                        {{ form.title(class="form-control")}}
                                        <br>

                                        <!--Surname-->
                                        {{ form.surname.label(class="form-label") }}
                                        {{ form.surname(class="form-control")}}
                                        <br>

                                        <!--Name-->
                                        {{ form.name.label(class="form-label") }}
                                        {{ form.name(class="form-control")}}
                                        <br>

                                        <!--Initials-->
                                        {{ form.initials.label(class="form-label") }}
                                        {{ form.initials(class="form-control")}}
                                        <br>

                                        <!--Degree-->
                                        {{ form.degree.label(class="form-label") }}
                                        {{ form.degree(class="form-control")}}
                                        <br>

                                        <!--Campus-->
                                    {{ form.campus.label(class="form-label") }}
                                    <div class="">
                                                <input
                                                id="campus-0"
                                                name="campus"
                                                required
                                                type="radio"
                                                value="Vaal Campus"
                                                >&nbsp;
                                                <label for="campus-0">Vaal</label>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input
                                                id="campus-1"
                                                name="campus"
                                                required
                                                type="radio"
                                                value="Potchefstroom Campus"
                                                >&nbsp;
                                                <label for="campus-1">Potchefstroom</label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input
                                                id="campus-2"
                                                name="campus"
                                                required
                                                type="radio"
                                                value="Mahikeng Campus"
                                                >&nbsp;
                                                <label for="campus-2">Mahikeng</label>
                                            
                                        
                                    </div>
                            
                                        <br>
                                        <!--Profile Pic
                                        {{ form.profile.label(class="form-label") }}
                                        {{ form.profile(class="form-control")}}
                                        <br>-->
                                        <!--Student Number-->
                                        {{ form.student.label(class="form-label") }}
                                        {{ form.student(class="form-control")}}
                                        <br>
                                        <!--Password-->
                                        {{ form.password_hash.label(class="form-label") }}
                                        {{ form.password_hash(class="form-control")}}
                                        <br>
                                        <!--Password-->
                                        {{ form.password_hash2.label(class="form-label") }}
                                        {{ form.password_hash2(class="form-control")}}
                                        <br> 
                                        <!--Register
                                        {{form.submit(class="btn btn-primary shadow")}}
                                            <br><br>-->

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                                                Register Account
                                        </button>
                                                            <hr>
                                                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                                                <i class="fab fa-google fa-fw"></i> Register with Google
                                                            </a>
                                                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                                            </a>
                            </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{url_for('login')}}">Login!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{url_for('forgot')}}">Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>
</body>

</html>

