
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{{ url_for('static', filename='css/register.css')}}'>
    <link rel="stylesheet" href='./Static/css/register.css'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body class="">
      {% extends "base.html" %}
    {% block content%}

    <div class="  container border rounded rounded-3 border-white  mb-3 shadow-sm p-3 mb-5" >
    
        {% for message in get_flashed_messages()%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
        {% endfor %}
           
          <div class="header">
            <a class="dropdown-item" href="#" onclick="goBack()"> 
                <i class="uil uil-arrow-left" style="width:10px;height:10px;"></i>
            </a>
            <h2>Create Account</h2>
        </div>

  
      <form method="POST" action="#" enctype="multipart/form-data">    
      </br>
            <!--Username-->
            {{ form.hidden_tag()}}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control")|trim}}
            
            <br>
            <!--Title-->
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control")}}
            <br>

            <!--Surname-->
            {{ form.surname.label(class="form-label") }}
            {{ form.surname(class="form-control")}}
            <br>

            <!--Name-->
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control")}}
            <br>

            <!--Initials-->
            {{ form.initials.label(class="form-label") }}
            {{ form.initials(class="form-control")}}
            <br>

            <!--Degree-->
            {{ form.degree.label(class="form-label") }}
            {{ form.degree(class="form-control")}}
            <br>

            <!--Campus-->
           {{ form.campus.label(class="form-label") }}
           <div class="header">
                    <input
                    id="campus-0"
                    name="campus"
                    required
                    type="radio"
                    value="Vaal Campus"
                    >
                    <label for="campus-0">Vaal</label>
               
                    <input
                    id="campus-1"
                    name="campus"
                    required
                    type="radio"
                    value="Potchefstroom Campus"
                    >
                    <label for="campus-1">Potchefstroom</label>
                
                    <input
                    id="campus-2"
                    name="campus"
                    required
                    type="radio"
                    value="Mahikeng Campus"
                    >
                    <label for="campus-2">Mahikeng</label>
                
            
          </div>
                
            <br>
            <!--Profile Pic
            {{ form.profile.label(class="form-label") }}
            {{ form.profile(class="form-control")}}
            <br>-->

            <!--Student Number-->
            {{ form.student.label(class="form-label") }}
            {{ form.student(class="form-control")}}
            <br>

            <!--Password-->
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control")}}
            <br>
            <!--Password-->
            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control")}}
            <br>
            
            <!--Register-->
            {{form.submit(class="btn btn-primary shadow")}}
        </form>
            <br>
        <div style="display: block;text-align: center">
            <a>Already have an accout?</a>
            <a href="{{url_for('login')}}">login</a>
        </div>
    </div>
   <script>
    function goBack() {
    window.history.back();
}
  </script> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock%}
  </body>
</html>