<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for('static', filename='updatenotes.css')}}'>
    <link rel="stylesheet" href='./Static/updatenotes.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Notes</title>
  </head>
  {% extends "base.html" %}
      {% block content%}

      
  <body class="" style="font-family: 'Poppins', sans-serif;
    background-color: rgb(239, 239, 239);
    color: hsl(216, 8%, 45%); /* text color */">

    <div class="container">
      <div class="mb-3 shadow-sm p-3 mb-5 bg-white rounded border-white" style="margin-top: 10%;">
        <a class="dropdown-item" href="#" onclick="goBack()"> 
          <h2>
            <i style="width:10px;height:10px;"  class="uil uil-arrow-left"></i>
            
          </h2>
          <br>
        </a>

        <form method="POST"  action="/update_notes/{{ update_notes.id }}">
          <div class="form-group">
             {{ form.hidden_tag()}}
            <label for="title" style="color:grey;"><h6>Title</h6></label>
            <input type="text" class="form-control"name="title" id="title" aria-describedby="emailHelp" value="{{ update_notes.title}}" >
          </div>
          <input  type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}" >
          <br>
          <label for="selected_module_id" style="color:grey;">
            <h6>Selct Module: </h6>
          </label>
          <br>
          <select id="selected_module_id" name="selected_module_id" class="form-control form-control-lg">
            
            <option value="{{ update_notes.module_id }}">{{ update_notes.VaalNotes.Module }}</option>
          
          </select>

          <br>
          
          <br>

          <div class="form-group">
            <label for="content" style="color:grey;"><h6>Notes</h6></label>
            <textarea type="text" name="content" class="form-control"  rows="4" value="{{ update_notes.content }}"></textarea>
          </div>

          <label for="#" style="color:grey;"><h6>Attach file</h6></label>
          <input type="file" class="form-control"name="#" id="#" >
          <br>
          <button type="submit" class="btn btn-primary">Update</button>
               
        </form>
        <br>

      </div> 
  </div> 
    <script>
        function toggleDropdown(icon) {
            // Find the closest dropdown-content within the same module-item
            var dropdownContent = icon.closest('.module-item').querySelector('.dropdown-content');
            // Toggle the dropdown content's display style
            if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
                dropdownContent.style.display = 'block';
                icon.classList.add('open-dropdown'); // Optional: Change icon style when dropdown is open
            } else {
                dropdownContent.style.display = 'none';
                icon.classList.remove('open-dropdown'); // Optional: Revert icon style when dropdown is closed
            }
        }
    </script>
     <script>
    function goBack() {
    window.history.back();
}
  </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  {% endblock %}
</html>